[submodule "external/jack"]
	path = external/jack
	url = https://github.com/edilson258/jack.git
[submodule "tests/unity"]
	path = tests/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "external/r3"]
	path = external/r3
	url = https://github.com/c9s/r3.git
